* {
    margin: 0;
    padding: 0;
}
body
{
    padding-top: 50px;
    padding: 30px;
    height: 2000px;
}
.nav
{
    height: 50px;
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
        /* border: 1px solid black; */

}

ul
{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-size: 30px;

}
li
{
    /* border: 1px solid black; */
}
li.active 
{
    border-bottom: 2px solid red;
}

[data-tab-content]
{
    display: none;
}

.active[data-tab-content]
{
    display: block;
}
.tab-content
{
    padding: 10px;
}